:root {
	--gold-50: #fff8e1;
	--gold-100: #ffecb3;
	--gold-200: #ffe082;
	--gold-300: #ffd54f;
	--gold-400: #ffca28;
	--gold-500: #ffb300;
	--gold-600: #ffa000;
	--gold-700: #ff8f00;
	--gold-800: #f57c00;
	--gold-900: #e65100;
}
.filter-icon.active,
:root,
[data-theme="light"] {
	--icon-stroke: var(--gold-800);
}

:root,
[data-theme="light"] {
	--brand-color: var(--primary);
	--padding-xs: 5px;
	--padding-sm: 6px;
	--padding-md: 15px;
	--padding-lg: 20px;
	--padding-xl: 30px;
	--padding-2xl: 40px;
	--margin-xs: 5px;
	--margin-sm: 10px;
	--margin-md: 15px;
	--margin-lg: 20px;
	--margin-xl: 30px;
	--margin-2xl: 40px;
	--modal-shadow: var(--shadow-md);
	--card-shadow: var(--shadow-sm);
	--btn-shadow: var(--shadow-xs);
	--navbar-height: 48px;
	--icon-fill: transparent;
	--icon-fill-bg: var(--fg-color);
	--bg-blue: var(--blue-100);
	--bg-light-blue: var(--blue-50);
	--bg-dark-blue: var(--blue-300);
	--bg-green: var(--gold-100);
	--bg-yellow: var(--gold-100);
	--bg-orange: var(--gold-100);
	--bg-red: var(--red-100);
	--bg-gray: var(--gold-100);
	--bg-grey: var(--gold-100);
	--bg-light-gray: var(--gold-100);
	--bg-dark-gray: var(--gold-400);
	--bg-darkgrey: var(--gold-400);
	--bg-purple: var(--purple-100);
	--bg-pink: var(--pink-50);
	--bg-cyan: var(--cyan-50);
	--text-on-blue: var(--blue-700);
	--text-on-light-blue: var(--blue-600);
	--text-on-dark-blue: var(--blue-800);
	--text-on-green: var(--gold-800);
	--text-on-yellow: var(--gold-700);
	--text-on-orange: var(--gold-700);
	--text-on-red: var(--red-700);
	--text-on-gray: var(--gold-700);
	--text-on-grey: var(--gold-700);
	--text-on-darkgrey: var(--gold-800);
	--text-on-dark-gray: var(--gold-800);
	--text-on-light-gray: var(--gold-800);
	--text-on-purple: var(--purple-700);
	--text-on-pink: var(--pink-700);
	--text-on-cyan: var(--cyan-700);
	--alert-text-danger: var(--red-600);
	--alert-text-warning: var(--yellow-700);
	--alert-text-info: var(--blue-700);
	--alert-text-success: var(--gold-700);
	--alert-bg-danger: var(--red-50);
	--alert-bg-warning: var(--yellow-50);
	--alert-bg-info: var(--blue-50);
	--alert-bg-success: var(--gold-100);
	--bg-color: white;
	--fg-color: white;
	--subtle-accent: var(--gold-50);
	--subtle-fg: var(--gold-100);
	--navbar-bg: white;
	--fg-hover-color: var(--gold-100);
	--card-bg: var(--fg-color);
	--disabled-text-color: var(--gold-600);
	--disabled-control-bg: var(--gold-50);
	--control-bg: var(--gold-100);
	--control-bg-on-gray: var(--gold-200);
	--awesomebar-focus-bg: var(--fg-color);
	--modal-bg: white;
	--toast-bg: var(--modal-bg);
	--popover-bg: white;
	--awesomplete-hover-bg: var(--control-bg);
	--btn-primary: var(--gold-900);
	--btn-default-bg: var(--gold-100);
	--btn-default-hover-bg: var(--gold-300);
	--border-primary: var(--gold-900);
	--sidebar-select-color: var(--gold-100);
	--scrollbar-thumb-color: var(--gold-400);
	--scrollbar-track-color: var(--gold-200);
	--shadow-inset:inset 0px -1px 0px var(--gold-300);
	--border-color: var(--gold-200);
	--dark-border-color: var(--gold-300);
	--table-border-color: var(--gold-200);
	--highlight-color: var(--gold-50);
	--yellow-highlight-color: var(--gold-50);
	--btn-group-border-color: var(--gold-300);
	--placeholder-color: var(--gold-50);
	--highlight-shadow:1px 1px 10px var(--gold-50),0px 0px 4px var(--gold-600);
	--code-block-bg: var(--gold-900);
	--code-block-text: var(--gold-400);
	--primary-color: var(--gold-900);
	--btn-height: 28px;
	--input-height: 28px;
	--input-disabled-bg: var(--gold-200);
	--checkbox-right-margin: var(--margin-xs);
	--checkbox-size: 16px;
	--checkbox-color: var(--gold-400);
	--checkbox-focus-shadow:0 0 0 2px var(--gold-300);
	--checkbox-gradient:linear-gradient(180deg,var(--primary) -124.51%,var(--primary) 100%);
	--checkbox-disabled-gradient:linear-gradient(
			180deg,
			var(--disabled-control-bg) -124.51%,
			var(--disabled-control-bg) 100%
		);
	--switch-bg: var(--gold-300);
	--diff-added: var(--gold-100);
	--diff-removed: var(--red-100);
}

:root {
	--heading-color: var(--gold-900);
	--text-neutral: var(--gray-900);
	--text-color: var(--gray-800);
	--text-muted: var(--gray-700);
	--text-light: var(--gray-600);
	--text-dark: var(--fg-color);
}

.navbar {
	background: var(--gold-50);
	height: 60px;
}

.form-tabs-list {
	background-color: var(--gold-100);
}

.page-title .sidebar-toggle-btn {
	display: flex;
	margin-right: var(--margin-sm);
	cursor: pointer;
	--icon-stroke: var(--gold-800);
}

.widget.spacer {
	background-color: var(--fg-color);
}

.btn-primary-light,
.widget.dashboard-widget-box,
.widget.links-widget-box,
.widget.shortcut-widget-box {
	background-color: var(--gold-100);
}

.widget.dashboard-widget-box {
	border: 1px solid var(--border-color);
}

.widget.shortcut-widget-box {
	border-radius: 5px;
	padding: 8px;
	border: 1px solid var(--border-color);
}

.widget.links-widget-box {
	border: 1px solid var(--border-color);
}

input[type="checkbox"] {
	border: 1px solid var(--gold-500);
}

input[type="checkbox"].disabled-selected,
input[type="checkbox"]:disabled:checked {
	background-color: var(--gold-200);
}

input[type="checkbox"]:checked {
	background-color: var(--gold-800);
	background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%208%207'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M1%204.00001L2.66667%205.80001L7%201.20001'%20stroke%3D'white'%20stroke-width%3D'1.5'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'/%3E%3C/svg%3E");
}

.btn-primary-light {
	border-color: var(--gold-800);
}

.btn-primary-light:active,
.btn-primary-light:hover {
	background-color: var(--gold-300);
	border-color: var(--gold-800);
}

.form-control:focus {
	box-shadow: 0 0 0 2px var(--gold-800);
}